.formSection{
    background-color: #f4f7fe;
    height: auto;
}
.form{
    width: 40% !important; 
    background-color: #fff;
    padding: 15px 30px;
    border-radius: 15px;
}
.formContainer{
    display: flex !important;
    justify-content: center !important;
}

.label{
    color: #1c2498;
    font-weight: 600;
}

Button{
    background-color: #4ba4f1 !important;
}

.form-control{
    background-color: #f4f7fe !important;
    padding: 10px 13px !important;
}

.form__title h3{
    font-size: 2rem;
    font-weight: 700;
}

.button1{
    padding: 1px;
    color:rgb(53, 53, 53);
    border: 1px solid black;
    margin-right: 0.3rem;
}
.button2{
    padding: 1px;
    background-color: rgb(239, 10, 10) !important;
    color: rgb(53, 53, 53);
    border: 1px solid black;
}
.button3{
    background-color: rgb(239, 10, 10) !important;
    border: 1px solid rgb(53, 53, 53);
}