.about{
    width: 100%;
    margin-top: 5rem;
    margin-bottom: 7rem;
}

.img__about{
    display: flex;
    justify-content: center !important;
    width: 90%;
    border-radius: 25px;
}

.about__title h3{
    font-size: 3rem;
    font-weight: 700;
}

@media screen and (max-width: 500px) {
    .about__title h3{
        font-size: 2.5rem;
    }
}

.about-text{
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
    transform: translateX(-100%);
  }

  .about-img{
    opacity: 0;
    transition: all 2s;
    filter: blur(5px);
    transform: translateX(100%);
  }

  .show-about-text{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }