.cabinet{
    height: 100vh;
}

@media only screen and (max-width: 992px){
    .cabinet{
        height: auto !important;
    }
    #gmap_canvas{
        display: flex !important;
        justify-content: center !important;
        width: 95%;
        height: 350px;
    }
}

.map{
    opacity: 0;
    transition: all 1s;
    scale: 0;
  }

  .show-cabinet{
    scale: 1;
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }