
.img__docteur{
    display: flex;
    justify-content: center !important;
    border-radius: 25px !important;
    height: 400px !important;
}

.docteur{
    height: 100vh;
}

.docteur{
    height: auto;
}

@media only screen and (max-width: 770px){
    .img__docteur{
        display: flex;
        justify-content: center;
    }
}