* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    overflow-x: hidden;
  }

  html {
    scroll-behavior: smooth;
  }
  
  /* =========== custom scroll-bar ========= */
  
  ::-webkit-scrollbar {
    width: 13px;
    background: #d2d2d3;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 2em;
    background: linear-gradient(-45deg, #4ba4f1, #1c2498, #4ba4f1, #1c2498);
  }